* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("images/toDoBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  border: none;
  background: white;
  outline: none;
  font-family: "Poppins", sans-serif;
  border-radius: 50px;
  margin: 0 10px;
}
form button {
  color: #f5d782;
  cursor: pointer;
  transition: all 0.1s ease;
  background: none;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
form button:hover {
  background: #ffffff;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: #f5d782;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 50px;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: none;
  color: #ff0000;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 20px;
  outline: none;
}
.complete-btn {
  background: none;
  color: #4fd81f;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  color: #ff3700;
  padding: 0 10px;
  text-decoration: line-through;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  border-radius: 50px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  font-size: 16px;
  width: 12rem;
  height: 60px;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  color: black;
  pointer-events: none;
  border-radius: 50px;
}

/********************************Date and Time**************************************/
.dateTime{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 40px;
  /*height: 50vh;*/
  padding-top: 50px;
  margin: 0 35%;
}

.time{
}
.date{

}