* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /*background-image: url("images/toDoBg.jpg");*/
  /*background: #fc3455;*/
  background-image: url("images/mountains.png"); /* fallback */
  /*background-image: url("images/toDoBg.jpg"), linear-gradient(#eb01a5, #d13531); !* W3C *!*/
  background: linear-gradient(100.06deg, #fc254c 8.13%, #240b36 93.73%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Poppins", sans-serif;
  /* min-height: 100vh; */
}
header {
  font-size: 2rem;
  font-family: "Quicksand", sans-serif;
}

header,
.todoForm {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoForm input,
.todoForm button {
  padding-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  border: none;
  background: #fc254c;
  outline: none;
  font-family: "Quicksand", sans-serif;
  border-radius: 50px;
  margin: 0 10px;
}
.todoForm button {
  background: #d4e2e1;
  font-family: "Quicksand";
  cursor: pointer;
  transition: all 0.1s ease;
  background: none;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
}
.todoForm button:hover {
  background: #ffffff;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: #d4e2e1;
  font-size: 20px;
  font-family: "Quicksand";
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 5px; */
  border-radius: 50px;
  transition: all 1s ease;
  padding-left: 15px;
  padding-right: 15px;
}
.filter-todo {
  /* padding: 1rem; */
  background: #d4e2e1;
  padding-left: 25px;
  padding-right: 25px;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: none;
  color: #fc254c;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 20px;
  outline: none;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  color: #ff3700;
  padding: 0 10px;
  text-decoration: line-through;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
  border-radius: 50px;
  /* padding-top: 0.5rem;
  padding-bottom: 0.5rem; */
}

.select select {
  font-size: 20px;
  font-family: "Quicksand";
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Arrow */
.select::after {
  display: none;
  content: "\25BC";
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  color: black;
  pointer-events: none;
  border-radius: 50px;
}

.todo-button {
  background: #d4e2e1;
}

.todo-button:hover {
  background: #fc254c;
}

.todo-input {
  width: 30%;
  color: #ffffff;
}

::placeholder {
  color: rgb(255, 255, 255);
  opacity: 0.8; /* Firefox */
}

/********************************Date and Time**************************************/
.dateTime {
  color: #240b36;
  font-size: 40px;
  margin-left: 35px;
  margin-right: 35px;
}

/**************form************/
.formContainer {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  -webkit-box-shadow: 6px 6px 24px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 6px 6px 15px 4px rgba(0, 0, 0, 0.05);
  border-radius: 50px;
  background: white;
  flex-direction: row;
  user-select: none;
}

.alt {
  background: #fc254c;
  border-radius: 0 50px 50px 0;
  width: 550px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 3%;
}

.alt img {
  position: absolute;
  width: 65%;
}

.alt h1 {
  color: white;
  z-index: 1;
  font-size: 85px;
}

.alt h3 {
  font-family: "Quicksand", sans-serif;
  color: white;
  z-index: 1;
  margin-top: -3%;
  margin-bottom: 30%;
  line-height: 25px;
  width: 65%;
}

.alt h2 {
  font-size: 30px;
  z-index: 1;
  color: white;
  display: inline-block;
}

.altLink {
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  margin-top: -2%;
}

.altLink:hover {
  color: black;
}

.miniAlt {
  display: none;
}

@media (max-width: 975px) {
  .alt {
    display: none;
  }
  .formContainer {
    flex-direction: column;
  }

  .miniAlt {
    display: flex;
    align-self: center;
    margin-top: -10%;
    margin-bottom: 10%;
    font-size: 80%;
  }

  .altLinkMini {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }

  .altLinkMini:hover {
    color: #fc254c;
  }
}

.ignore-css {
  all: unset;
}
